html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wrapper {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

/*--------------HEADER-----------------*/
header {
  background-color: lightgray;
}
.header__wrapper {
  padding-top: 20px;
  padding-right: 200px;
  padding-bottom: 20px;
  padding-left: 200px;
}
.nav__block {
  display: flex;
  justify-content: space-around;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: black;
}

.nav__link:hover {
  opacity: 80%;
  color: rgb(46, 43, 43);
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}
/*------------------------------------*/

/*----------------ABOUT---------------*/

#about{
    background-color: rgba(236, 232, 223, 0.986);
}
.about__wrapper{
    display: flex;
    justify-content: center;
    padding-top:70px;
    padding-bottom: 70px;
}

.about__picture{
    display: block;
}
.picture__myPhoto{
    padding-right: 10px;
    width: 220px;
    height: auto;
}

.summary__head, .skills__head,.projects__head{
    padding-top:30px;
    padding-bottom: 10px;
    font-size:28px;
    font-weight: bold;
}
.summary__underHead, .skills__item,.project__name{
    font-size:22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.summary__text{
    font-size:20px;
    font-style: italic;
}
/*-----------------------------*/

/*-----------Skills------------*/

#skills{
  background-color: rgb(243, 234, 234);
}
.skills__wrapper{
  padding-top:70px;
  padding-bottom: 70px;

}
.skills__head{
  padding-top: 0;
  padding-bottom: 20px;
}
.skills__block{
  padding-left:20px;
}
.skills__item{
  margin-bottom: 15px;
}
.crcl{
  display:inline-block;
  margin-left:5px;
  width: 15px;
  height: 15px;
  border: rgb(5, 5, 236) solid 2px;
  border-radius: 10px;
}
.act{
  background-color:rgb(142, 142, 233);
}
/*--------------------------*/

/*----------Projects-------*/
#projects{
  background-color: rgb(237, 225, 238);
}
.projects__wrapper{
  display:flex;
  justify-content: space-around;
  padding-bottom: 70px;
}
.projects__head{
  padding-bottom: 30px;
}
.progect__picture{
  width: 300px;
  height: auto;
  margin-top: 10px;
}
.progect__picture:hover,.rsschool:hover{
  scale:101%;
}
.tech__blog{
  list-style-type:circle;
  padding-left: 15px;
}
/*-----------------*/

/*------footer------*/

footer{
  background-color: lightgray;
}
.footer__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.footer__block{
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.rsschool{
  width:128px;
  height: auto;
}
.footer__text{
  text-align: center;
  font-size: 12px;
}
.footer__link:hover{
  scale: 110%;
}
