body {
  height: 100vh;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}


.header {
  width: 30%;
  position: fixed;
  right: 65%;
  top: 20%;
}
.main {
  width: 65%;
  position: absolute;
  left: 35%;
}
@media (max-width: 1340px) {
  .header {
    width: 35%;
  }
}

.card {
  position: relative;
  padding: 15px 7px 20px 15px;
  border-radius: 10px;
  margin: 20px;
  background-color: rgb(245, 237, 226);
  box-shadow: 7px 5px 7px gray;
}
.main .card {
  max-width: 800px;
  height: auto;
}
.header .card {
  max-width: 500px;
  height:auto;
}
.header__title{
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header__photo {
  width: 250px;
  height: 250px;
}
.title {
  font-family: sans-serif;
  font-size: 30px;
  color: #39c4eb;
  font-weight: bold;
}
main .title:after{
  display: block;
  content: '';
  height: 5px;
  width:95%;
  border-radius:5px;
  margin-top:20px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #96e3f8 0%, #92fe9d 100%);

}
.header__title {
  text-align: center;
  line-height: 40px;
}
.header__link {
  text-decoration: none;
  color: inherit;
}
.text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 24px;
  font-size:20px;
  margin-bottom: 10px;
}
.skills__col{
  display: flex;
  justify-content: center;
}
.skills__nav{
  list-style: none;
  flex-grow: 0.47;
}
.skills__item{
  font-family: sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.fab,.fas{
  margin-right:15px;
  color:rgb(158, 158, 238);
  font-size: 50px;
}
.fa-check{
  margin-right: 0px;
  margin-left:5px;
  font-size: 20px;
}
.subtitle{
  margin: 15px;
  font-family: serif;
  font-style: italic;
  font-size: 28px;
  color: #39c4eb;
  font-weight: bold;
}
.exp__сertificates{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  grid-row-gap: 10px;
  grid-column-gap: 10px;

}
.exp__img{
  max-width: 90%;
  height: auto;
}
.eng__img{
width: 100%;
height: 400px;
}



